@import '../../helpers/CommonStylesheet/Common';

.rt-loader {
    display: flex;
    justify-content: center;
    margin: 30px
}

.rt-loader:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $color-salmon;
    border-color: $color-salmon transparent $color-salmon transparent;
    animation: rt-loader 1.2s linear infinite;
}

@keyframes rt-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
