@import '../../helpers/CommonStylesheet/Common';

.rt-input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    color: #636363;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}