@import '../../helpers/CommonStylesheet/Common';

.rt-select {
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    color: #636363;
    margin-bottom: 10px;
    box-sizing: border-box;
}